* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  scroll-behavior: smooth;
}

.container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}

nav {
  grid-column: 1 / span 4;
  display: flex;
  height: 150px;
  justify-content: space-between;
  padding: 1rem;
  background-color: lightblue;
}

ul {
  list-style: none;
}

/*------ main-content style -----------*/

main {
  grid-column: 1 / span 4;
  padding: 1rem;
}
.main-content {
  gap: 10px;
}

h1 {
  grid-column: 1 / span 4;
}

img {
  width: 30%;
  height: 100;
  border-radius: 50%;
}
p {
  line-height: 25px;
}

li:hover {
  cursor: pointer;
}

footer {
  grid-column: 1 / span 4;
  background-color: gray;
  padding: 1rem 0;
}
